<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>

<body>
    <form action="/auth/sign-in" method="POST"></form>

    <label for="username">Username:</label>
    <input type="text" name="username" id="username" placeholder="bobdybob" required value="body">

    <label for="passowrd">Password:</label>
    <input type="password" name="password" id="password" required value="123">

    <button type="submit">Sign-in</button>
</body>

</html>